<section class="h-screen flex flex-col md:flex-row">
  <div
    class="h-[400px] md:h-full md:w-[45%] rounded-b-[50px] relative p-10 md:rounded-none"
    style="
      background-image: url('../assets/bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <h1 class="text-[#fff] text-[20px] font-semibold">Astro</h1>
    <h2 class="absolute bottom-10 text-[#fff] text-[22px] font-medium">
      Exploring new frontiers, one step at a Time
    </h2>
    <p class="absolute bottom-5 text-[#fff] text-[16px]">Beyond Earth graps</p>
  </div>
  <div class="px-10 mt-7">
    <h3 class="text-[24px] font-bold">Create Account</h3>

    <div class="flex items-center gap-2 md:mt-5">
      <div
        class="bg-orange-700 rounded-full py-2 px-5 text-[#fff] flex items-center gap-1.5 shadow-md"
      >
        <img class="w-5 h-5" src="../assets/googlea.png" alt="Google Icon" />
        <p>Google</p>
      </div>
      <div
        class="bg-orange-200 rounded-full py-2 px-5 text-[#fff] flex items-center gap-1.5 shadow-md"
      >
        <img class="w-5 h-5" src="../assets/faceboook.png" alt="Google Icon" />
        <p>Facebook</p>
      </div>
    </div>

    <div class="">divider</div>

    <p>Or sign up using your email address</p>

    <form action="">
      <div>
        <label
          for="first_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="John"
          required
        />
      </div>
    </form>
  </div>
</section>
